<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acron.demo.dao.RoleResourceMapper">
    <resultMap id="roleResourceMap" type="com.acron.demo.entity.database.RoleResource">
        <id property="id" column="id"/>
        <result property="createDate" column="createDate"/>
        <result property="modifyDate" column="modifyDate"/>
        <result property="version" column="version"/>
        <association property="role" column="roleId" javaType="com.acron.demo.entity.database.Role"
                     fetchType="lazy">
            <id property="id" column="roleId"/>
            <result property="name" column="name"/>
            <result property="tag" column="tag"/>
        </association>
        <association property="resource" column="resourceId" javaType="com.acron.demo.entity.database.Resource" fetchType="lazy">
            <id property="id" column="id"/>
            <result column="resourceName" property="resourceName"/>
            <result column="url" property="url"/>
            <result column="type" property="type"/>
            <result column="module" property="module"/>
        </association>
    </resultMap>
</mapper>